<b><font size="6" color="red">ch03. 데이터구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashmap과 유사), 셋(집합)

### 리스트 만들기
- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음. list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스트 0부터 시작, 맨 마지막 인덱스 -1.
- 슬라이싱([from:to:by]) 부분 데이터셋을  ...  인덱스를 이용해서 쓰기와 읽기도  ...

In [1]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [1]:
# range(from, to, by) : from부터 to 바로 앞까지 by씩 증가하면서 만들어진 리스트
    # from 생략시 0 / by 생략시 1
range(6)

range(0, 6)

In [5]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [4]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [9]:
for i in [1,2,3,4]:
    print(i, end='\t')
for i in range(5):
    print(i, end='\t')

1	2	3	4	0	1	2	3	4

In [10]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

In [11]:
fruits = ['banana', 'apple', 'orange', 'grape']
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape

In [8]:
numbers = [1, 2, '3', True]
numbers

[1, 2, '3', True]

In [9]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [10,20,30,40,50],
              [1,3,5,7,9]]
print(numbers_2d)
len(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9]]

3

In [16]:
len(numbers_2d), len(numbers_2d[0]) # numbers_2d 리스트 안에 첫번째 원소인 [1,2,3,4,5]는 길이가 5임.

(3, 5)

In [17]:
numbers_2d[1][2]

30

In [21]:
for row in numbers_2d:
    print(row)

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]
[1, 3, 5, 7, 9]

In [19]:
for row in numbers_2d:
    for data in row:
        print(data, end='\t')
    print() # 개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9

In [12]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열:{}".format(i,j,numbers_2d[i][j]), end='\t')
    print()
    ###################################################################오류

0행0열:1	0행1열:2	0행2열:3	0행3열:4	0행4열:5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열:1	2행1열:3	2행2열:5	2행3열:7	2행4열:9

### 기본 정보 조회

In [1]:
numbers = [1,2,3,4,5]
numbers_2d = [[100,0,0,0,0,],
              [90,90,90,90,90]]

In [28]:
# 요소의 수
print(len(numbers))
print(len(numbers_2d))

5
2

In [30]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [2]:
# 2차원 리스트의 max()함수는 부분 리스트 중 첫 요소가 가장 큰 값
#                min()함수는 부분 리스트 중 첫요소가 가장 작은 값
min(numbers_2d), max(numbers_2d)

([90, 90, 90, 90, 90], [100, 0, 0, 0, 0])

### 요소추가

In [ ]:
# + 두 리스트 연결
# * 리스트*n 리스트를 곱한 수 만큼 반복
# oppend() 요소 맨 뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스에 값 추가

In [33]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [26]:
numbers = [1,2,3]
print(numbers*3)
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
numbers.append(4)
numbers

[1, 2, 3, [7, 8, 9], 4]

In [29]:
num=[7,8,9]
numbers.append(num)
numbers              # num의 각 요소가 numbers리스트에 개별적으로 추가되지 않고 리스트 자체가 하나의 원소로서 추가됨
                     # extend로 추가할때와 비교

[1, 2, 3, [7, 8, 9], 4, [7, 8, 9]]

In [30]:
numbers = [1,2,3]
numbers.extend(num)
numbers

[1, 2, 3, 7, 8, 9]

In [31]:
numbers.add(10)

AttributeError: 'list' object has no attribute 'add'

In [39]:
# numbers.extend(['H','e','l','l','o'])과 동일
numbers.extend('Hello')
numbers                    # Hello라고 결합되어 추가하고 싶었다면 append를 사용했어야함.

[1, 2, 3, 7, 8, 9, 'H', 'e', 'l', 'l', 'o']

In [40]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

### 인덱싱

In [ ]:
- [index] : 인덱스를 이용한 접근
- index() : 해당 요소의 위치 반환
- count() : 리스트에서 데이터의 갯수 반환

In [1]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3]
numbers_2d = [[1,2,3],[1,2,3]]

In [43]:
numbers.count(2) # numbers리스트에 2가 몇 개인지?

2

In [42]:
numbers_2d.count(2) # numbers_2d에는 2라는 원소가 몇 개 인지? -> 존재하지 않음.
                    # 존재하지 않는 요소의 개수를 물어봐도 오류가 반환되진 않음

0

In [ ]:
2 in nembers # 2개 numbers 요소에 있는지 여부

In [48]:
numbers
numbers.index(2) # 처음(인덱스 0부터) 나오는 2의 인덱스
                 # 2라는 원소의 numbers 리스트 안에서의 위치!!!!!!

[1, 2, 3, [1, 2, 3], 1, 2, 3]

In [49]:
print(numbers.count(9), '개')
print(numbers.index(9)) # index함수는 없는 값을 쓰면 에러

0 개

ValueError: 9 is not in list

 ### 원하는 리스트 내용만 추출; 리스트 슬라이싱
    - 인덱스보다 많은 값을 써도 에러가 발생하지 않음
    - [from:to:by] : from부터 to바로 앞까지 by씩 증가하는 index 추출
                     from, to, by 모두 생략 가능
    - 인덱스는 음수 가능

In [50]:
numbers = [1,3,5,7,9]
numbers[::-1]

[9, 7, 5, 3, 1]

In [ ]:
## 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 엑세스 #########################################꼭 알고 있을 것!
# 대괄호를 열어야 함
# if문을 사용해야함

In [74]:
numbers = [1,3,5,7,9,10,12,13,18,19,20]
# 모든 데이터를 다 가져오기
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 7, 9, 10, 12, 13, 18, 19, 20]

In [75]:
# 짝수 데이터만 가져오기
# for data in numbers:
#    if data%2==0:
#        print(data, end='\t')
[data for data in numbers if data%2==0] # 리스트 컴프리헨션 : 원하는 조건의 값만 가져옴.

[10, 12, 18, 20]

In [54]:
# 10이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [62]:
# 과일의 글씨가 5글자 이상인 과일을 추출하세요
fruits = ['orange', 'apple', 'mango', 'kiwi']
[x for x in fruits if len(x)>=5]

['orange', 'apple', 'mango']

In [63]:
# 과일의 글자수를 추출하세요
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [65]:
# 리스트의 값의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L]

[1, 4, 9, 16, 25]

In [68]:
# 리스트 값을 두 배의 수를 추출하라
[ 2*x for x in L]

[2, 4, 6, 8, 10]

### 요소 수정하기

In [4]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 2222
numbers

[0, 1, 2222, 3, 4, 5, 6, 7, 8, 9]

In [80]:
# 부분리스트를 통쨰로 바꿈(by 없이 슬라이싱할 경우)
numbers[0:2] = [1111,1111,1111,1111,1111,1111,1111]
numbers

[1111, 1111, 1111, 1111, 1111, 1111, 1111, 2222, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# 슬라이싱에서 by가 포함된 경우
numbers = [0]*10
print("수정 전 : ", numbers)
numbers[::2] = [11,11,11,11,11,11,11,11] # 개수가 5개로 정확히 일치해야만 오류없이 적용가능
print("수정 후 : ", numbers)

수정 전 :  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후 :  [11, 0, 11, 0, 11, 0, 11, 0, 11, 0]

### 삭제하기
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(n) : n 번째 idx요소가 반환되고 삭제
- remove(data) : 해당 data가 삭제
- del 리스트 변수[n]

In [8]:
numbers = [0,1,2,3,4,5]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5]
5
[0, 1, 2, 3, 4]

In [9]:
numbers.remove(3) # pop은 삭제하고 결과를 반환했는데 remove는 결과를 반환하지 않음
                  # 없는 값을 remove하는 명령을 입력한 경우 error!

In [10]:
numbers

[0, 1, 2, 4]

In [99]:
numbers = [0,1,2,3,4,5]
del numbers[3]
numbers

[0, 1, 2, 4, 5]

### 정렬하기

In [106]:
numbers = [9,5,2,6,10]
numbers.sort() # numbers 리스트의 구성이 정렬된 상태로 바뀜. 기본정렬은 오름차순

In [104]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[10, 9, 6, 5, 2]

In [107]:
numbers = numbers[::-1] # 리스트를 역순으로 변경
numbers

[10, 9, 6, 5, 2]

### 리스트 복제
    - 데이터프레임 복제도 동일한 원리(?)

In [111]:
numbers = [6, 2, 7, 4, 10]
new_numbers = numbers # 값이 전달되지 않고 new_numbers가 numbers의 주소를 참조
numbers.sort()
print('정렬전 데이터 : ', new_numbers)
print('정렬한 데이터 : ', numbers)
print('new_numbers 주소 : ', id(new_numbers))
print('numvers 주소 :',      id(numbers))
    # id로 주소를 확인한 결과를 보면 새로 생성한 변수인 new_number가 독립된 값을 가지지 않고 기존의 numbers의 주소를 참조

정렬전 데이터 :  [2, 4, 6, 7, 10]
정렬한 데이터 :  [2, 4, 6, 7, 10]
new_numbers 주소 :  1987491872384
numvers 주소 : 1987491872384

In [12]:
# 복제함으로써 새로 생성한 변수가 기존의 변수주소를 참조하는 문제를 해결##################################################
numbers = [6, 2, 7, 4, 10]
new_numbers = numbers.copy() # numbers를 복제
numbers.sort()
print('정렬전 데이터 : ', new_numbers)
print('정렬한 데이터 : ', numbers)
print('new_numbers 주소 : ', id(new_numbers))
print('numvers 주소 :',      id(numbers))

정렬전 데이터 :  [6, 2, 7, 4, 10]
정렬한 데이터 :  [2, 4, 6, 7, 10]
new_numbers 주소 :  2449978025920
numvers 주소 : 2449978025344

In [115]:
city = ['서울', '부산', '대구', '인천']
temp = city.copy()
city.sort()
print('원데이터 :', ' '.join(temp))
print('정렬 후 :',  ' '.join(city))

원데이터 : 서울 부산 대구 인천
정렬 후 : 대구 부산 서울 인천

# 2절. 튜플
- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터타입에서 사용
- 수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [116]:
city = ('서울', '부산', '인천', '대구',) # , 뒤에 항목이 따라오지 않는다고해도 파이썬에서는 괜찮음.
type(city)

tuple

In [117]:
'-'.join(city)

'서울-부산-인천-대구'

In [121]:
I = ['서울']
print(type(I))
print(I)

<class 'list'>
['서울']

In [123]:
city = ('서울') # 요소가 하나있는 튜플이 생성되지 않고 있음.
print(type(city))
print(city)

<class 'str'>
서울

In [125]:
city = ('서울',)
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [18]:
numbers = 1,2,3 # 여러개 값을 나열할 때는 자동적으로 튜플로 처리
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [128]:
numbers.append(4)
numbers.remove(4) # 데이터를 수정하기 위한 함수들은 모두 적용불가. 
                  # 튜플에 적용 가능한 함수는 매우 제한됨. len(), min(), max()

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
len(numbers), min(numbers), max(numbers)

(3, 1, 3)

In [20]:
numbers.count(2)

1

In [22]:
data = (0, 1, 2, 3, 4, (5, 6) )
data[2:5] # 2번째부터 5번째 앞까지(4번째까지)

(2, 3, 4)

In [ ]:
data.index(2) # 2가 있는 가싀#### ㅑㅜㅇㄷㅌ

In [ ]:
data.index(9)

In [133]:
data = (0,1,2,)
data * 3

(0, 1, 2, 0, 1, 2, 0, 1, 2)

# 3절. 딕셔너리
cf. 자바에서의 hashMap<br>
    * 중괄호{}를 이용하여 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조.<br>
    * 키는 유일한 값(중복허용안함). 키에 리스트는 사용불가. 키에 튜플은 사용가능<br>
    * 값은 중복 가능. 모든 데이터 타입이 가능<br>
    * 없는 키의 값을 참조하면 에러 발생<br>
    * 인덱스를 이용한 참조는 지원안함.

In [137]:
dic = {'key1':'value', 'key1':'val'}
print(type(dic))
print(dic) # key값이 고유하지 않은 경우 후자만 유효함

<class 'dict'>
{'key1': 'val'}

In [141]:
len(dic) # 데이터 요소의 갯수

1

In [2]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [143]:
my_favorite['fruit']

'apple'

In [144]:
my_favorite.get('fruit')

'apple'

In [146]:
# print(my_favorite['people'] # 키 목록에 없는 데이터를 인덱스로 참조시 에러발생
print(my_favorite.get('people')) # 키목록에 없는 데이터를 get함수로 호출시 None을 반환

None

In [148]:
# 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'banana'
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = 'KIM'
print('people 추가 후 :', my_favorite)
del(my_favorite['sport'])
print('sport 삭제 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf'}
people 추가 후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf', 'people': 'KIM'}
sport 삭제 후 : {'fruit': 'banana', 'number': 12, 'people': 'KIM'}

In [13]:
# for문을 이용한 dictionary 출력
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-0000'}

my_tuple = ('홍길동', 25, '010-9999-0000')
for data in my_tuple:
    print(data, end='\t')
for idx in range(len(my_tuple)):
    print("{}번째 데이터 : {}".format(idx, my_tuple[idx]))

홍길동	25	010-9999-0000	0번째 데이터 : 홍길동
1번째 데이터 : 25
2번째 데이터 : 010-9999-0000

In [151]:
# for문을 이용한 dictionary 출력
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-0000'}

for data in my_dic:
    print(data, end='\t') # 키만 나타남. 일반적으로는 데이터 혹은 키+데이터가 출력되기를 희망

name	age	tel

In [152]:
my_dic.keys() # 키 목록을 반환함

dict_keys(['name', 'age', 'tel'])

In [153]:
my_dic.values() # 값들을 반환해줌

dict_values(['홍길동', 25, '010-9999-0000'])

In [154]:
my_dic.items() # 딕셔너리를 튜플의 형태로 이루어진 (키, 값)으로 반환

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-0000')])

In [8]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	25	010-9999-9999

In [161]:
for item in my_dic.items():
    print("{}은 {}".format(item[0], item[1]))

name은 홍길동
age은 25
tel은 010-9999-0000

In [ ]:
# in 연산자

In [16]:
L = (1, 2, 3)
2 in L

True

In [1]:
my_dic = {'name' : '홍길동', 'age':25, 'tel':'010-9999-9999'}
'홍길동' in my_dic

False

In [2]:
# 딕셔너리에서의 in 연산자는 키가 있는지 여부 반환
'name' in my_dic

True

In [4]:
my_favorite = {'fruit':'apple', 'number':1}
new_my_favorite = my_favorite
print(my_favorite)
print(new_my_favorite)

{'fruit': 'apple', 'number': 1}
{'fruit': 'apple', 'number': 1}

In [6]:
my_favorite['fruit'] = '과일은 다 좋아'
print(my_favorite)
print(new_my_favorite)
print('주소:', id(my_favorite))
print('주소:', id(new_my_favorite))

{'fruit': '과일은 다 좋아', 'number': 1}
{'fruit': '과일은 다 좋아', 'number': 1}
주소: 1197290090752
주소: 1197290090752

In [7]:
my_favorite = {'fruit':'apple', 'number':1}
new_my_favorite = my_favorite.copy() # 복제
my_favorite['fruit'] = '과일은 다 좋아'
print(my_favorite)
print(new_my_favorite)
print('주소:', id(my_favorite))
print('주소:', id(new_my_favorite))

{'fruit': '과일은 다 좋아', 'number': 1}
{'fruit': 'apple', 'number': 1}
주소: 1197290126976
주소: 1197290127104

# 4절. 셋
    * 중복을 허용하지 않는 집합(순서X)
    * 중괄호({})나 set()함수를 이용해서 생성 : set([1,2]), set({딕셔너리}), set(튜플) 등의 형태로 생성
    * 집합연산자(&교집합, |합집합, -차집합)
        - 딕셔너리는 순서는 없지만 키값이 존재했음.

In [8]:
fruits = {'apple', 'orange', 'banana', 'banana'}
fruits
# 중복 불가, 순서 없음.

{'apple', 'banana', 'orange'}

In [10]:
s1 = set([1,2,3,1])
s1
# 리스트로 셋 생성하기

{1, 2, 3}

In [19]:
[1,2,3,4,4]
# 리스트는 중복이 가능함

[1, 2, 3, 4, 4]

In [9]:
s2 = set((1,2,3,1))
s2
# 튜플로 셋 생성하기

{1, 2, 3}

In [13]:
s3 = set({'name':'홍길동', 'age':30})
s3
# 딕셔너리로 셋 생성하기
# set 함수를 이용화면 키 값만 적용

{'age', 'name'}

In [7]:
s2.add(5)
s2.add(6) # 따로 따로 입력해 주어야 함
s2

{1, 2, 3, 5, 6}

In [10]:
s2.append(7,8)
s2.extend(7,8)
    # 위에서 list일 경우 numbers.append(num) / numbers.extend(num)와 같이 list 혹은 list의 요소들을 기존 리스트에 추가할 수 있었음.

AttributeError: 'set' object has no attribute 'append'

In [17]:
s2.add((7,8,9)) #(7,8,9)라는 튜플이 하나의 요소로서 s2에 추가됨...
s2

{(7, 8, 9), 1, 2, 3, 5, 6}

In [20]:
s1.add([10,11,12]) # add함수는 list인수 불가
s1

TypeError: unhashable type: 'list'

In [8]:
s2.add(False)
s2

{False, 1, 2, 3, 5, 6}

In [10]:
s2.add(0) # 기존의 셋에 False가 존재했고 그에 따라 0이 추가가 불가함(True와 1도 동일)
s2

{False, 1, 2, 3, 5, 6}

In [12]:
s1 = {1,2,3}
s1.update([4,5,6,1]) # 셋에 리스트의 요소를 추가할 때 update가 사용되는듯. list의 extend와 동일해 보임.
s1

{1, 2, 3, 4, 5, 6}

In [24]:
s1.update({'name':'kim','age':30}) # update, 딕셔너리는 키값만 추가
s1

{1, 2, 3, 4, 5, 6, 'age', 'name'}

In [25]:
s1.remove('name')

In [26]:
s1.remove('kim') # 없는 데이터를 remove할 경우 에러

KeyError: 'kim'

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print('s1 = ', s1)
print('s2 = ', s2)
print('교집합 = ', s1 & s2) # & : 교집합, and 논리연산자, 비트연산자
print('합집합 = ', s1 | s2)
print('차집합 = ', s1 - s2)

In [12]:
name = {'Yuna', 'Choo', 'IU'}
print(name)

{'Choo', 'Yuna', 'IU'}

In [28]:
for n in name:
    print(n,end='\t\t') # enumerate를 사용하기 전 for로 set의 요소들을 출력했을 때

IU		Choo		Yuna

In [ ]:
# 5절. enumerate
    - 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결하는 함수
    # 셋에서 1번째 원소, 2번째 원소 등을 선택?
    # 딕셔너리에서도? 리스트에서도?
# Return an enumerate object. iterable must be a sequence, an iterator, or some other object which supports iteration. 
# The __next__() method of the iterator returned by enumerate() returns a tuple containing a count 
# (from start which defaults to 0) and the values obtained from iterating over iterable.

# seasons = ['Spring', 'Summer', 'Fall', 'Winter']
# list(enumerate(seasons))
# [(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
# list(enumerate(seasons, start=1))
# [(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [14]:
list(enumerate(name))
    # enumerate(name)만 실행했을 때의 반환되는 결과 : <enumerate at 0x1f08bf70180>

[(0, 'Choo'), (1, 'Yuna'), (2, 'IU')]

In [15]:
for idx, data in enumerate(name):
    print("{}번째 : {}".format(idx,data))

0번째 : Choo
1번째 : Yuna
2번째 : IU

In [17]:
for i in [0,1,2]:
    print(1)# range(len(L)) <= range(3) <= [0:3]

1
1
1

In [35]:
L = ['길자', '순자', '길동']
for idx in range(len(L)): # range(len(L)) <= range(3) <= [0:3]
    print("{}번째 : {}".format(idx, L[idx]))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [6]:
for idx, name in enumerate(L):
    print("{} : {}".format(idx, name)) # 위에보다 약간 더 단순^^;

0 : 길자
1 : 순자
2 : 길동

In [19]:
dic = {'name':'홍길동', 'age':35, 'address':'서울시 마포구'}
dic.items()

dict_items([('name', '홍길동'), ('age', 35), ('address', '서울시 마포구')])

In [45]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
age : 35
address : 서울시 마포구

In [46]:
dic.items()

dict_items([('name', '홍길동'), ('age', 35), ('address', '서울시 마포구')])

In [48]:
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '서울시 마포구'))]

In [50]:
for idx, (key, value) in enumerate(dic.items()): # key, value에 괄호를 안붙였을 때 오류발생
                                                 # key, value는 enumerate함수의 반환값이고 idx는 for문에서 별도로 새롭게 부여하는 값이기 때문인듯.
    print("{}번째 {}키 값은 {}".format(idx, key, value))

0번째 name키 값은 홍길동
1번째 age키 값은 35
2번째 address키 값은 서울시 마포구

In [20]:
for i in enumerate(dic.items()): # 위 셀에서의 결과를 이해하기 위해. :)
    print(i)

(0, ('name', '홍길동'))
(1, ('age', 35))
(2, ('address', '서울시 마포구'))