<b><font size="6" color="red">ch09. 파일 i/o 프로그래밍</font></b>

In [ ]:
csv서타일
Choo,41
Yuna, 32

In [ ]:
json서타일
[{'name':'Choo',
 'age':41},
{'name':'Yuna',
'age':32}]

In [ ]:
이건 무슨 서타일?
<itemList>
    <name>Choo</name>
    <age>41</age>

<b>Built-in-Functions</b> </br>
https://docs.python.org/3/library/functions.html#open<br>
<span style="color:Violet;"> open(file, mode='r', buffering=- 1, encoding=None, errors=None, newline=None, closefd=True, opener=None)</span>

<span style="color:tomato;"><i>file</i></span> is a path-like object giving the pathname (absolute or relative to the current working directory) of the file to be opened or an integer file descriptor of the file to be wrapped. (If a file descriptor is given, it is closed when the returned I/O object is closed unless closefd is set to False.)

<span style="color:tomato;"><i>mode</i></span> is an optional string that specifies the mode in which the file is opened. It defaults to 'r' which means open for reading in text mode. Other common values are 'w' for writing (truncating the file if it already exists), 'x' for exclusive creation, and 'a' for appending (which on some Unix systems, means that all writes append to the end of the file regardless of the current seek position).

In text mode, if encoding is not specified the encoding used is platform-dependent: locale.getpreferredencoding(False) is called to get the current locale encoding. (For reading and writing raw bytes use binary mode and leave encoding unspecified.) The available modes are:

<br>
<br>

As mentioned in the Overview, Python distinguishes between binary and text I/O. Files opened in binary mode (including 'b' in the mode argument) return contents as bytes objects without any decoding. In text mode (the default, or when 't' is included in the mode argument), the contents of the file are returned as str, the bytes having been first decoded using a platform-dependent encoding or using the specified encoding if given.

# 1절. 파일에 데이터 저장 or 불러오기

기본적인 원리부분인듯
아래 CSV, DicReader/Writer, Jason 부분 등장함.

In [16]:
# w : 기존에 파일이 있을 경우 '덮어씀'
# a : 기존에 파일이 있는 경우 append, 끝에 '덧붙임'
    # 없는 파일이면 새롭게 만들어서 쓰기
f = open('data/ch09_sample.txt', 'a') # 텍스트 문서(메모장)가 생성됨
print(f.writable())

True

<h2>write</h2>

In [6]:
# (1)
f = open('data/ch09_sample.txt', 'a')
f.write('Hello\nWorld\nHello\nPython') # 한글을 write하면 (윈도우 기준으로) CP949로 저장됨
f.close() # 반드시 close()실행할 것! 저장이 안 될 수도 있음!
# open함수로 빈 파일을 미리 생성하고 write를 실시해야 함. 
# 경로에 파일이 없을 경우 ValueError : I/O operation on closed file.

In [19]:
# (2)
# with구문을 사용하면 매번 close 코드를 입력해야 하는 절차가 불필요
# (ch08.예외처리 맨 마지막에서 readlines시 with를 사용했었음)
# If you’re not using the with keyword, then you should call f.close() 
# to close the file and immediately free up any system resources used by it.
with open('data\ch09_sample.txt','w') as f:
    print(f.writable())
    f.write('Python is easy. \nPython is smart.')

True

In [75]:
with open('data\ch09_sample.txt', 'a') as f:
    print("프린트 함수로 파일 쓰기가 가능합니다", file = f) 
                    # print함수로 출력하면서 동시에 파일이 생성됨, file = f

프린트 함수로 파일 쓰기가 가능합니다

In [9]:
# (2), (3), (4)
with open('data/ch09_sample.txt', 'w', encoding='utf-8') as f:
    f.write('1방법 : Hello/nWorld')
    textlist = ['Python is easy/n', 'R is easy/n', 'Java is smart/n']
    f.write('2방법 : /n')
    for line in textlist:       # for line in textlist[0:2]을 하면 첫 번째 등장에서 Java내용은 생략됨^^;
        f.write(line)
    f.write('3방법 :/n')
    f.writelines(textlist)

<h2>read</h2>

In [11]:
# (1)
with open('data/ch09_sample.txt', 'r', encoding = 'utf-8') as txtfile:
    lines = txtfile.readlines() # 한꺼번에 여러 줄을 읽어 list를 생성.
    print(lines)

['1방법 : Hello/nWorld2방법 : /nPython is easy/nR is easy/nJava is smart/n3방법 :/nPython is easy/nR is easy/nJava is smart/n']

In [10]:
with open('data/ch09_sample.txt', 'r', encoding = 'utf-8') as txtfile:
    lines = txtfile.readlines()
for line in lines:
    print(line, end='')

1방법 : Hello/nWorld2방법 : /nPython is easy/nR is easy/nJava is smart/n3방법 :/nPython is easy/nR is easy/nJava is smart/n

In [25]:
# (2)
# 파일을 한 줄 읽고 한 줄 출력, 한 줄 읽고 한줄 출력...# readlines랑 다른?
with open('data/ch09_sample.txt', 'r', encoding = 'UTF-8') as f:
    line = f.readline() # We call this initial read the priming read. 
                          # It is very important because the while condition needs to have a value for the line variable.
    while line !='':
        print(line, end= ' ')
        line = f.readline()
        
# The readline method will return the empty string if there is no more data in the file. 
# An empty string is an empty sequence of characters. 
# When Python is looking for a Boolean condition, as in while line:, 
# it treats an empty sequence type as False, and a non-empty sequence as True. 
# Remember that a blank line in the file actually has a single character, the \n character (newline). 
# So, the only way that a line of data from the file can be empty is 
                    # if you are reading at the end of the file, and the while condition becomes False.

# Finally, notice that the last line of the body of the while loop performs another readline. 
# This statement will reassign the variable line to the next line of the file. 
# It represents the change of state that is necessary for the iteration to function correctly. 
# Without it, there would be an infinite loop processing the same line of data over and over.

1방법 : Hello/nWorld2방법 : /nPython is easy/nR is easy/nJava is smart/n3방법 :/nPython is easy/nR is easy/nJava is smart/n

In [33]:
# \n을 기준으로 나눌 수 있는지 시도했는데 실패...
# 아래 피클에서는 ','을 기준으로 ch09_member.txt파일을 나누기 성공.

# with open('data/ch09_sample.txt', 'r', encoding='UTF-8') as f:
#     line = f.readline()
#     while line != '':
#         values = line.split('\n')
#         print('1', values[0], '2', values[1], '3', values[2])
#         line = f.readline()

IndexError: list index out of range

In [27]:
# with open('data/ch09_sample.txt', 'r', encoding='UTF-8') as f:
#     line = f.readline()
#     print(line)
# readlines와 readline이 동일한 결과를 반환함.
# ch09_sample.txt가 둘의 차이를구분하기에 좋은 예시가 아닌듯?

# https://runestone.academy/runestone/books/published/thinkcspy/Files/AlternativeFileReadingMethods.html

# In addition to the for loop, Python provides three methods to read data from the input file. 
# The readline method reads one line from the file and returns it as a string. 
# The string returned by readline will contain the newline character at the end. 
# This method returns the empty string when it reaches the end of the file. 
# The readlines method returns the contents of the entire file as a list of strings, 
                    # where each item in the list represents one line of the file. 
# It is also possible to read the entire file into a single string with read. 
# Table 2 summarizes these methods and the following session shows them in action.

1방법 : Hello/nWorld2방법 : /nPython is easy/nR is easy/nJava is smart/n3방법 :/nPython is easy/nR is easy/nJava is smart/n

# 2절. 피클을 이용한 객체 저장 및 불러오기

## 형식이 있는 텍스트 데이터 불러오기

In [13]:
# ch09_member.txt파일이 미리 생성되어 있어야 함
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines() # readlines는 리스트를 만듬.
    for line in lines: # ch09_member.txt파일이 두 줄로 구성되어 있으므로 2개의 line이 포함된 lines 리스트
        data = line.strip().split(',') # strip의 존재가 csv파일이 공백없이 ','로만 구분하는 이유와 동일할까?
#        print(data)
        name = data[0]
        age = int(data[1].strip())
        email = data[2].strip()
        address = data[3].strip()
        print("이름:{}\t 나이:{}\t 메일:{}\t 주소:{}".format(name, age, email, address))
# with를 사용하면 파일을 open한 이후 close하지 않아도 되는 장점이 있음!

이름:추신수	 나이:41	 메일:Chooshinsoo@google.com	 주소:서울시 강동구
이름:김연아	 나이:32	 메일:YunaKim@apple.com	 주소:서울시 은평구

## 2.2 피클링

In [1]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "이름:{}\t 나이:{}\t 메일:{}\t 주소:{}".format(self.name, self.age, self.email, self.address)

In [2]:
user1 = Member("홍길동", 28, 'kildong@hong.com','서울시 용산구')
user2 = Member("고길동", 24, 'gogil@dong.com','서울시 영등포구')
user3 = Member("홍당무", 23, 'dangmoo@hong.com','서울시 서대문구')
user_list = [user1, user2, user3]

In [9]:
for user in user_list:
    print(user)

이름:홍길동	 나이:28	 메일:kildong@hong.com	 주소:서울시 용산구
이름:고길동	 나이:24	 메일:gogil@dong.com	 주소:서울시 영등포구
이름:홍당무	 나이:23	 메일:dangmoo@hong.com	 주소:서울시 서대문구

In [37]:
# 피클링을 이용한 객체저장
# pickle.dumps(obj, protocol=None, *, fix_imports=True, buffer_callback=None)
# Return the pickled representation of the object obj as a bytes object, instead of writing it to a file.
import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)
# 위에서 메모장에서 출력했던 스크립트는 객체로서의 성격이 없어지고 한 줄 한줄 출력하는 형태였음...
# The open() function opens a file in text format by default. 
    # To open a file in binary format, add 'b' to the mode parameter. 
    # Hence the "rb" mode opens the file in binary format for reading, 
    # while the "wb" mode opens the file in binary format for writing. Unlike text files, 
    # binary files are not human-readable. When opened using any text editor, the data is unrecognizable.

In [ ]:
del user_list, user1, user2, user3

In [4]:
# pickle.load(file, *, fix_imports=True, encoding='ASCII', errors='strict', buffers=None)
# Read the pickled representation of an object from the open file object file 
                    # and return the reconstituted object hierarchy specified therein.
# This is equivalent to Unpickler(file).load().

# The protocol version of the pickle is detected automatically, so no protocol argument is needed. 
# Bytes past the pickled representation of the object are ignored.
import pickle
with open('data/ch09_member.data', 'rb') as f:
    ul = pickle.load(f)
# 피클링을 이용했기 때문에 바이너리 형식으로 문서를 저장.(메모장에서 읽을 수 없음)
# Use the 'rb' mode in the open() function to read a binary files

In [6]:
for u in ul:
    print(u)

이름:홍길동	 나이:28	 메일:kildong@hong.com	 주소:서울시 용산구
이름:고길동	 나이:24	 메일:gogil@dong.com	 주소:서울시 영등포구
이름:홍당무	 나이:23	 메일:dangmoo@hong.com	 주소:서울시 서대문구

# 3절 CSV형식 파일 읽기/쓰기

```
The so-called CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases.

The lack of a well-defined standard means that subtle differences often exist in the data produced and consumed by different applications. These differences can make it annoying to process CSV files from multiple sources. Still, while the delimiters and quoting characters vary, the overall format is similar enough that it is possible to write a single module which can efficiently manipulate such data, hiding the details of reading and writing the data from the programmer.

The csv module implements classes to read and write tabular data in CSV format. It allows programmers to say, “write this data in the format preferred by Excel,” or “read data from this file which was generated by Excel,” without knowing the precise details of the CSV format used by Excel. Programmers can also describe the CSV formats understood by other applications or define their own special-purpose CSV formats.

The csv module’s reader and writer objects read and write sequences. 
Programmers can also read and write data in dictionary form using the DictReader and DictWriter classes.
```

## 3.1 reader
```
csv.reader(csvfile, dialect='excel', **fmtparams)
```

In [7]:
# utf-8로 인코딩된 CSV 파일 read
import csv
with open('data/ch09_member1.csv','r', encoding='UTF-8') as f:
    reader = csv.reader(f)
    # print(list(reader))
    for row in reader : 
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 강동구']
['윤길동', '25', 'yoonkil@hong.com', '서울시 강서구']
['신길동', '30', 'shinkil@hong.com', '서울시 영등포구']

In [8]:
import csv 
with open('data/ch09_member1-1.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(' - '.join(row))

Nietzche - 20 - email1@hanmail.net - 광주 -
Kant - 25 - email2@google.com - 마산 - 팀장
Keynse - 22 - email3@naver.com - 울산 -

In [9]:
# numeric 엔 따옴표 뺌
with open('data/ch09_member1.csv', encoding = 'utf-8') as f:
    reader = csv.reader(f, quotechar = '"',
                       quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

# Each row read from the csv file is returned as a list of strings. 
# No automatic data type conversion is performed unless the QUOTE_NONNUMERIC format option is specified 
# (in which case unquoted fields are transformed into floats). 

# ch09_member1을 메모장으로 열어보면 ,(comma)로 구분된 각 항목들이 ""기호 안에 입력되어 있다.
# 본 셀의 내용은 quotechar로 명시한 기호로 quoted되지 않은 fields필드를 floats으로 type을 변형함을 보여준다.

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['윤길동', 25.0, 'yoonkil@hong.com', '서울시 강서구']
['신길동', 30.0, 'shinkil@hong.com', '서울시 영등포구']

### 3.2 write

```
csv.writer(csvfile, dialect='excel', **fmtparams)
```

In [3]:
user_list = [['홍길동', 20, 'hong@hong.com','서울'],
            ['마길동',25,'ma@hong.com','인천']]

In [6]:
# newline = '' 를 입력하지 않으면 개행 2번
# open(file, mode='r', buffering=- 1, encoding=None, errors=None, newline=None, closefd=True, opener=None)

# newline controls how universal newlines mode works (it only applies to text mode). It can be None, '', '\n', '\r', and '\r\n'.

# Writer Objects
# Writer objects (DictWriter instances and objects returned by the writer() function) have the following public methods. 
# A row must be an iterable of strings or numbers for Writer objects 
            # and a dictionary mapping fieldnames to strings or numbers (by passing them through str() first) for DictWriter objects.

# csvwriter.writerow(row)
            # Write the row parameter to the writer’s file object, formatted according to the current Dialect. 
            # Return the return value of the call to the write method of the underlying file object.
            # row매개변수 위치에 입력한 전달인자를 writer의 file 객체에 쓰기를 실시.
import csv 
try:
    with open ('data/ch09_member2.csv', 'w', encoding='UTF-8', newline='') as f:
        writer = csv.writer(f) # csv파일을 만듬. 아직까지 내용은 없음.
        for user in user_list:
            writer.writerow(user)
except FileNotFoundError as e:
    print(e)

In [21]:
# 숫자는 따온표 붙지 않고 저장하는 방법, 문자는 따옴표 붙도록 csv writer

with open('data/ch09_member2-1.csv', 'w', newline='', encoding = 'CP949') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
#    for user in user_list:
#        writer.writerow(user)
    writer.writerows(user_list) # for문 사용할 필요 없이 바로 writerrows를 사용.
    
# csvwriter.writerows(rows)
# Write all elements in rows (an iterable of row objects as described above) to the writer’s file object, 
                                                                                # formatted according to the current dialect.

## 3.3 DictReader
- CSV파일의 자료를 딕셔너리 데이터로 읽기

In [5]:
# header가 있는 csv파일을 딕셔너리로 읽기
with open('data/ch09_member3.csv','r',encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
#    print(list(dict_reader))
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'], row['age'], row['email'], row['address'])
        else:
            print(row['name'], row['age'], row['email'], row['address'], row['job'])

홍길동 20 kil@hongcom 서울
석길동 40 suk@hong.com 인천 팀장
마길동 30 ma@hong.com 안양

In [36]:
# cf. csv파일을 데이터 프레임으로
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv', encoding='utf-8')
member

  name  age               email  address    job
0  홍길동   20  kildong@hong.co.kr  서울시 광진구    NaN
1  석굴암   41         suk@gul.net       인천  도서관사서
2  백두산   33        back@doo.com       강원    등산가

In [37]:
type(member)

pandas.core.frame.DataFrame

In [10]:
# ch09_member1-1.csv 해더가 없는 파일의 경우
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f)
    print(list(dict_reader))

[{'Nietzche': 'Kant', '20': '25', 'email1@hanmail.net': 'email2@google.com', '광주': '마산', '': '팀장'}, {'Nietzche': 'Keynse', '20': '22', 'email1@hanmail.net': 'email3@naver.com', '광주': '울산', '': ''}]

In [11]:
# ch09_member1-1.csv 해더가 없는 파일의 경우
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'])
    for row in dict_reader:
#        print(row)
        print(row['Name'], row['Age'],row['Email'],row['Address']) # 현재 팀장 여부가 포함이 안되는 중

Nietzche 20 email1@hanmail.net 광주
Kant 25 email2@google.com 마산
Keynse 22 email3@naver.com 울산

In [12]:
# ch09_member1-1.csv 해더가 없는 파일의 경우
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row)
#        print(row['Name'], row['Age'],row['Email'],row['Address'])

{'Name': 'Nietzche', 'Age': '20', 'Email': 'email1@hanmail.net', 'Address': '광주', 'Job': ''}
{'Name': 'Kant', 'Age': '25', 'Email': 'email2@google.com', 'Address': '마산', 'Job': '팀장'}
{'Name': 'Keynse', 'Age': '22', 'Email': 'email3@naver.com', 'Address': '울산', 'Job': ''}

In [17]:
# ch09_member1-1.csv 해더가 없는 파일의 경우
with open('data/ch09_member1-1.csv','r',encoding='CP949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'],
                                restkey='Job')
    for row in dict_reader:
#        print(row)
        if row['Job']=='':
            print(row['Name'], row['Age'],row['Email'],row['Address'])
        else:
            print(row['Name'], row['Age'],row['Email'],row['Address'],row['Job'])
# member1-1.csv파일에는 member3에서와 달리 필드명이 설정되어있지 않아서 'JOB'[0]이라는 차이가 발생?
#                                          encoding방식이 CP949이기 때문에 차이가 발생?

Nietzche 20 email1@hanmail.net 광주 ['']
Kant 25 email2@google.com 마산 ['팀장']
Keynse 22 email3@naver.com 울산 ['']

## 3.4 DictWriter
- 딕셔너리 변수의 내용을 csv파일로 쓰기

In [2]:
user1 = {'name' : '홍길동', 'age':78, 'email':'hong@hong.com', 'address':'서울'}
user2 = {'name' : '임꺽정', 'age':45, 'email':'gguk@lim.com', 'address':'부산'}
user3 = {'name' : '김유신', 'age':57, 'email':'yusin@kim.com', 'address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) # ['name', 'age', 'email', 'address'] 해더에 쓸 내용

In [73]:
list(user1.keys())

['name', 'age', 'email', 'address']

In [74]:
for key in user1.keys():
    print(key)

name
age
email
address

In [7]:
import csv 
with open('data/ch09_member4.csv', 'w', encoding='UTF-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames= fieldnames)
    dict_writer.writeheader() # header 한 줄 쓰기
#     dict_writer.writerow(user1)
#     dict_writer.writerow(user2)
#     dict_writer.writerow(user3)
#######################################
#     for user in user_list:
#         dic_writer.writerow(user)
#######################################
    dict_writer.writerows(user_list)

In [8]:
user1 = {'name' : '홍길동', 'age':78, 'email':'hong@hong.com', 'address':'서울'}
user2 = {'name' : '임꺽정', 'age':45, 'email':'gguk@lim.com', 'address':'부산','position':'팀장'}
user3 = {'name' : '김유신', 'age':57, 'email':'yusin@kim.com', 'address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user2.keys()) # 해더로 쓸 내용

In [9]:
with open('data/ch09_member5.csv', 'w', encoding='UTF-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames = fieldnames)
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

In [24]:
user1 = {'name' : '홍길동', 'age':78, 'email':'hong@hong.com', 'address':'서울'}
user2 = {'name' : '임꺽정', 'age':45, 'email':'gguk@lim.com', 'address':'부산','position':'팀장'}
user3 = {'name' : '김유신', 'age':57, 'email':'yusin@kim.com', 'address':'광주'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) # 해더로 쓸 내용

In [25]:
with open('data/ch09_member5.csv', 'w', encoding='UTF-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames = fieldnames,
                                 # extrasaction = 'raise') # 없는 필드가 있으면 예외
                                 extrasaction = 'ignore') # fieldname에 없는 필드를 무시 -> position이 제외되어 파일이 생성
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

In [28]:
import pandas as pd
# pd패키지의 read_csv의 encoding기본값 : encoding="utf=8"
# 엑셀로 열길 희망한다면 CP949로...
member = pd.read_csv('data/ch09_member5.csv', encoding = "utf-8")
member
# csv파일을 DataFrame으로 #######################################

  name  age          email address position
0  홍길동   78  hong@hong.com      서울      NaN
1  임꺽정   45   gguk@lim.com      부산       팀장
2  김유신   57  yusin@kim.com      광주      NaN

In [37]:
member.to_csv('data/ch09_member5-1.csv', encoding='CP949') # ch09_member5.csv는 엑셀로 열었을 경우 글자가 깨짐.
                                                           # 반면 ch09_member5-1.csv는 정상적으로 열리게되는 차이가 발생.

# 4절. JSON 데이터 저장하고 불러오기(dump, load)
- 변수 -> (JSON)파일로 저장 : dump
- (JSON)파일 -> 변수로 불러옴 : load

## 4.1 JSON dump
```
[{'location':'서울',
  'date':'2021-07-27',
  'time':0,
  'temperature':33},
 {'location':'천안',
  'date':'2021-07-27',
  'time':0,
  'temperature':35}
]
- JSON파일은 딕셔너리 형식으로 데이터를 저장하는건가?

In [2]:
data = [
    {"name":"홍길동","age":20,"email":'hong@hong.com',"address":"서울"},
    {"name":"김김김","age":25,"email":"kim@hong.com", "address":"경기"}
]

In [6]:
type(data), type(data[0])

(list, dict)

In [3]:
data

[{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'},
 {'name': '김김김', 'age': 25, 'email': 'kim@hong.com', 'address': '경기'}]

In [4]:
# 딕셔너리 리스트를 json파일로 저장
# ensure_ascii=False 부분이 없으면 한글이 유니코드로 저장
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data, jsonfile, ensure_ascii=False, indent='\t')

In [5]:
# 객체 리스트를 json 파일로 저장 (대부분의 데이터는 데이터프레임 or 객체리스트 형식으로 구성되어 있음)
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def as_dict(self): # Member 객체를 dictionary로 반환
         return{"name":self.name, "age":self.age, 
                "email":self.email, "address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name, self.age, self.email, self.address)

In [6]:
member1 = Member("홍길동", 20, "hong@hong.com", "서울")
print(member1)
print(member1.as_dict())

홍길동	20	hong@hong.com	서울
{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}

In [7]:
member2 = Member("김김김",25, "kim@hong.com", "경기")
member3 = Member("박길동",35, "park@hong.com", "제주")
member_list = [member1,member2,member3]

In [11]:
import json
with open('data/ch09_member2.json', 'w', encoding='UTF-8') as jsonfile:
    json.dump(member_list, jsonfile, ensure_ascii=False,
             indent='\t',
             default=Member.as_dict)

In [9]:
whos

Variable      Type             Data/Info
----------------------------------------
Member        type             <class '__main__.Member'>
data          list             n=2
json          module           <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
jsonfile      TextIOWrapper    <_io.TextIOWrapper name='<...>ode='w' encoding='UTF-8'>
member1       Member           홍길동	20	hong@hong.com	서울
member2       Member           김김김	25	kim@hong.com	경기
member3       Member           박길동	35	park@hong.com	제주
member_list   list             n=3

In [46]:
del member1, member2, member3, member_list

In [47]:
member_list # 바로 위 셀에서 del 했기 때문

NameError: name 'member_list' is not defined

## 4.2 JSON load

In [54]:
#이번에는 반대로 json파일의 내용을 딕셔너리리스트로 load
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    member_list = json.load(jsonfile)
    for row in member_list:
        print(row)

{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}
{'name': '김김김', 'age': 25, 'email': 'kim@hong.com', 'address': '경기'}
{'name': '박길동', 'age': 35, 'email': 'park@hong.com', 'address': '제주'}

In [ ]:
# json파일을 객체리스트변수로 Load

In [55]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def as_dict(self): # Member 객체를 dictionary로 반환(객체리스트 => JSON파일)
         return{"name":self.name, "age":self.age, 
                "email":self.email, "address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name, self.age, self.email, self.address)

In [27]:
member_list[0]

{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}

In [56]:
def as_member(dic): # dictionary를 객체로 반환하는 함수(JSON => 객체리스트)
    return Member(dic['name'], dic['age'], dic['email'], dic['address'])

In [30]:
print(as_member(member_list[0]))

홍길동	20	hong@hong.com	서울

In [57]:
with open('data/ch09_member2.json', 'r', encoding='UTF-8') as jsonfile:
    member_list = json.load(jsonfile, object_hook=as_member)

In [32]:
type(member_list), type(member_list[0])

(list, dict)

In [58]:
for member in member_list:
    print(member)

홍길동	20	hong@hong.com	서울
김김김	25	kim@hong.com	경기
박길동	35	park@hong.com	제주

In [37]:
# json파일을 DataFrame으로###########################################
import pandas as pd
member = pd.read_json('data/ch09_member2.json', encoding="utf-8")
member
# panda를 사용하면 json->딕셔너리->datafrome 변경 과정이 한 번에 처리되는듯?

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   35  park@hong.com      제주

In [38]:
print(member)

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   35  park@hong.com      제주

In [39]:
type(member)

pandas.core.frame.DataFrame

# 5절. HDF5 파일 읽기/쓰기(딕셔너리, 데이터프레임)

## 5.1 h5py사용

In [60]:
import seaborn as sns # seaborn은 시각화 패키지
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [61]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris_dic = iris_df.to_dict() # 데이터프레임 변수를 딕셔너리변수로 형변환
iris_dic
# 컬럼명이 key값으로, 데이터들은 value값으로 분류됨.

In [46]:
list(iris_dic.keys())

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [ ]:
for group, value in iris_dic.items():
    print(group, value)
    print('\n')

In [ ]:
for group, value in iris_dic.items():
    print('변수는 ', group)
    for key, data in value.items():
        print("{}:{}".format(key, data), end='\t')
    print()

In [63]:
# iris_dic(딕셔너리)를 hdf파일로 쓰기
import h5py
with h5py.File('data/ch09_iris.hdf5', 'w') as f:
    for group, value in iris_dic.items():
        grp = f.create_group(group)
        for key, data in value.items():
            grp.create_dataset(str(key), data=data)

In [64]:
# iris_df(데이터프레임)을 hdf5 파일로 쓰기
iris_df.to_hdf('data/ch09_iris2.hdf5', key='iris')

In [ ]:
# hdf5 파일을 딕셔너리 변수로 불러오기

In [65]:
dict_data = {}
dict_data['name'] = '홍길동'
dict_data

{'name': '홍길동'}

In [66]:
dict_data = {}
dict_data.update({'name':'홍길동'})
dict_data

{'name': '홍길동'}

In [69]:
import h5py
with h5py.File('data/ch09_iris.hdf5', 'r') as f:
    for group, value in f.items():
        print('변수는 ', group)
        for key, data in value.items():
            print("{}:{}".format(key, data.value), end='\t')
            ########################################################오류########################

변수는  petal_length

AttributeError: 'Dataset' object has no attribute 'value'

In [61]:
iris_dic2 = {}
with h5py.File('data/ch09_iris.hdf5', 'r') as f:
    for group, value in f.items():
        cols={}
        for key, date in value.items():
            cols.update({int(key):data.value})
            # cols[int(key)] = data.value
        iris_dic2.update({group:cols})

AttributeError: 'str' object has no attribute 'value'

In [62]:
for group, value in iris_dic2.items():
    print('변수명 : ', group)
    print(value)

In [63]:
# hdf5파일을 데이터프레임 변수로 읽어오기
iris_df2 = pd.read_hdf('data/ch09_iris2.hdf5', key = 'iris')
iris_df2

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]